.form-create {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
  }
  
  .container {
    width: 400px;
    margin: 2em auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
  }
  
  .input-create {
    height: 36px;
    width: 300px;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  
  button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .button-create {
    margin-top: 10px;
    background-color: rgb(27, 180, 180);
    color: white;
    border: 2px solid black;
    width: 120px;
  }
  
  .button-create-back {
    width: 120px;
    background-color: rgb(180, 27, 27);
    color: white;
    border: 2px solid black;
  }

  .link-page {
    display: flex;
    justify-content: center;
  }

  .created-id {
    text-align: center;
    font-size: 19px;
  }

  .created-tittle {
    margin-top: 1em;
  }

  .created-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  .created-button-cat {
    width: 120px;
    background-color: rgb(27, 180, 180);
    color: white;
    border: 2px solid black;
  }

  .created-button-home{
    width: 120px;
    background-color: rgb(180, 27, 27);
    color: white;
    border: 2px solid black;
  }